/* GENERAL MISE EN PAGE */

html {
	font-size: 100%;
}

body{
	font-family: 'Montserrat', arial, Helvetica;
	font-weight:bold;	
	background-color: #ffcece;
	margin: 0px;
}

.container{
	width: 100%;
	margin: auto;
	height: auto;
	display:block;
	border-style:solid;/* REVOIR */
    border-width:0px;/* REVOIR */
 	border-color:black;/* REVOIR */
 	background: yellow;/* REVOIR */	

}

.leftblock{
	flex:0 0 30%;/* flex-grow / flex-shrink / flex basis pr gerer la largeur de la colonne*/
	max-width: 30%;
	position: relative;
    background: #9198e5;
    font-size:18px;/* REVOIR */
}

.rightblock{
	display: flex;
  	flex:0 0 70%;/* pour gerer la largeur de la colonne*/
  	max-width:70%;
  	position: relative;
    flex-basis: 0;
    flex-grow: 1;
  	background-color: #FFFFFF;
  	padding-left: 50px;
  	padding-right: 50px;

}

.row-one{
  	display: flex;
  	flex-flow: row wrap ;/* flex direction + flex wrap */
}

.row-two {
	display: flex;
  	flex-flow: row wrap ;
}

.row-three{
	display: flex;
  	flex-direction: row   ;
  	flex-wrap: wrap-reverse;

}

.row-four{
	background-color: #FFFFFF;
	display: flex;
  	flex-direction: row ;
  	flex-wrap: wrap;

}

/* GENERAL MISE EN TEXTE */

.project {
    display: flex;
    align-items: center;
}



h3 {
	text-transform: uppercase;
	color:black;
	font-size: 1.5em;
	border-bottom: 2px solid #9198e5;
}

h4 {
	text-transform: uppercase;
	color:black;
	font-size: 1.2em;
}

h5 {
	text-transform: capitalize;
	color:black;
	font-size: 1.2em;
}

p {
	color:black;
	font-size: 1em;
}

li{
	text-transform: capitalize; 
	color:black;
	
}

.sidetext {
	padding: 5px 15px 15px 15px;
	text-align: justify;
}

.fas {
	color:#9198e5;
}

.small-icon {
    padding-right: 10px;
}

.link-icon {
    padding-left: 10px;
}


/*  - COLONNE DE GAUCHE / Leftblock */

/* Leftblock / General */

.leftblock h3{
	text-align: center;
	color: #9198e5;
	background-color: #1E1E2E;
	opacity : 0.8;
}

/*  RowOne / Photo */

.photocv{
		text-align: center;	
	}

img{
	border-radius: 50%;/* image deja ronde : mais pour eviter le cadre*/
	max-width: 100%;
	height: auto; /* pour eviter les deformations de l image utiliser auto*/
	box-shadow: 3px 3px 3px 3px #44476e;
	border-width:3px;
 	border-style:solid;
 	border-color:#7479b7;
	padding: 1PX;
	margin: 50px;
}


/*  RowTwo / Contact */


.lefttext {
	padding:20px 50px;
	
}

.lefttext li{
	font-size: 1em;
	font-weight: bold;
}

ul{
	list-style: none;
	padding: 0;
}

span.alaligne {
	display: table;
	align-self: center;
	font-weight: lighter;
}

/*  RowThree / A propos */

.apropos {
	text-align: justify;
}

/*  RowFour / Loisirs */

.icones_loisirs li{
	display: inline-block;
	
}
.loisirs {
	display: flex;
    justify-content: space-between;
    padding: 20px 50px 40px 50px;
    margin-top: 10em

}

.loisirs i {
	display: table-cell;
 	border-radius: 50%;
 	width: 65px;
    height: 65px;
 	border: 2px solid;
 	padding:10px;
 	vertical-align: middle; 
    text-align: center; 
    color:#1E1E2E;	
}


/*  COLONNE DE DROITE / Rightblock */

/* RightBlock / General */

/*  RowOne / Nom Prenom Job */

.nomprenom {
line-height: 0.8em;
text-transform: capitalize;
align-self: center;
}

.nomprenom h1 {
	font-size: 4.2em;
	text-transform: uppercase;
}

.prenom-color{
	color:#9198e5;
	
}


/*  RowTwo / Formation */

.rightblock h3{
	
	color: black;	
}

.cv-details{
	width:100%;
}

.cv-bloc {
	display: flex;
}

.cv-blocus {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.cv-dates {

	padding: 20px 30px;
	text-align: left;
    width: 25%; 
    font-size: 1em; 
    font-weight: bolder;
}

.cv-dates ul{
	list-style-type: circle;
	 

}

.cv-dates li{
	 
}

.cv-textes{
	padding: 20px 30px;
	text-align: justify;
	width: 75%;	
}

/*  RowThree / Experience Pro */


/*  RowFour / Recommandations */
.reco {

	width: 100%;
	display: flex;
	flex-direction: column;
	

}
.cv-recommandations{
		
		
		display: flex;
		flex-direction: column;
		justify-content: space ;

}

.cv-bloc {
	
	justify-content: space-around;
}


/* -------------------------------------------------------------------------------------- */

/* PAGE RESPONSIVE */

	/* -TABLETTE- */
@media(min-width: 768px) and (max-width: 1388px) { 
	/* GENERAL */

.container {
	width: 100%;
	background-color: blue;
}

.leftblock {
	flex:0 0 100%;  
	max-width: 100%;
	font-size: 1em;

}

.rightblock {
	display: block;
	flex:0 0 100%;  
	max-width: 100%;
	font-size: 1em;
	padding:0 0 0 0;

}

h3 {

	font-size: 1em;
}

h4 {
	
	font-size: 1em;
}

h5 {
	
	font-size: 1em;
}

p {
	color:black;
	font-size: 1em;
}

/*  - COLONNE DE GAUCHE / Leftblock */

/* Leftblock / General */


/*  RowOne / Photo */
.photocv{
		text-align: center;
		max-width: 100%;
		background-color: white;	
	}

	

.nomprenom {
	font-size:1.5em;
}

img {
 transform: scale(0.8);
 margin:0px;
}

/*  RowTwo / Contact */
ul {
	text-align: center;
}
span.alaligne {
	display: block; /*  span est de base un element inline qui ne connait pas de largeur  */
	text-align: center;
}


/*  RowThree / A propos */


/*  RowFour / Loisirs */






/*  COLONNE DE DROITE / Rightblock */

/* RightBlock / General */

/*  RowOne / Nom Prenom Job */

.nomprenom{
	text-align: center; /* ---> centrer texte pour equilibre general*/
}

/*  RowTwo / Formation */

.rightblock h3{
	text-align: center;
}

/*  RowThree / Experience Pro */


/*  RowFour / Recommandations */
}
/* -------------------------------------------------------------------------------------- */

	/* TELEPHONE PORTABLE */
	/* GENERAL */
@media(max-width: 767px){

	.container {
		width: 100%;
		background-color: blue;
	}

	.leftblock {


		flex:0 0 100%;  
		max-width: 100%;	
	}

	.rightblock {
		display: block;
		flex:0 0 100%;  
		max-width: 100%;
		font-size: 1em;
		padding:0 0 0 0;
	}



	h3 {

		font-size: 0.8em;
	}

	h4 {
		
		font-size: 0.8em;
	}

	h5 {
		
		font-size: 0.8em;
	}

	p {
		
		font-size: 0.8em;
	}

	/*  - COLONNE DE GAUCHE / Leftblock */

	/* Leftblock / General */


	/*  RowOne / Photo */
	img {
	transform: scale(0.7);
	margin:0px;
	}

	.photocv{
			text-align: center;
			max-width: 100%;
			background-color: white;	
		}
	.nomprenom {
		font-size:0.5em;
	}
	/*  RowTwo / Contact */

	ul {
		text-align: center;
	}
	span.alaligne {
		display: block; /*  span est de base un element inline qui ne connait pas de largeur  */
		text-align: center;
	}
	/*  RowThree / A propos */


	/*  RowFour / Loisirs */




	/*  COLONNE DE DROITE / Rightblock */

	/* RightBlock / General */

	/*  RowOne / Nom Prenom Job */

	.nomprenom{
		text-align: center; /* ---> centrer texte pour equilibre general*/
	}

	/*  RowTwo / Formation */

	.rightblock h3{
		text-align: center;
	}
	/*  RowThree / Experience Pro */


	/*  RowFour / Recommandations */
	.cv-bloc {
		padding: 10px;
	}

	.row-four{
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column-reverse ;
		flex-wrap: wrap;

	}

	.loisirs {
		
		margin-top: 1em
	
	}
}